.background_login{
	background-image: url("https://static1.squarespace.com/static/52d6cb6be4b0b5fc69b8d205/t/5307d431e4b06c565def6aa7/1393022004734/education-background-checks.jpg?format=1500w");
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #999;
}

.image{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 30%;
	height: 30%;

}

a:hover{
	text-decoration:none;
}
.centrar-login {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}