@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error 404</h1>
<h2 class="text-danger">Registro no encontrado</h2>

<div class="col-md-2">
    <div class="btn-group btn-group-justified">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Inicio</a>
    </div>
</div>