@model CampussAvanzadaa.Model.Cursos

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Cursos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCurso" />
            <input type="hidden" asp-for="IdCarrera" />
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMateriarequerida" class="control-label"></label>
                <input asp-for="IdMateriarequerida" class="form-control" />
                <span asp-validation-for="IdMateriarequerida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Creditos" class="control-label"></label>
                <input asp-for="Creditos" class="form-control" />
                <span asp-validation-for="Creditos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPersona" class="control-label"></label>
                <input asp-for="IdPersona" class="form-control" />
                <span asp-validation-for="IdPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
