@model CampussAvanzadaa.Model.TipoPersonaViewModel.EditarViewModel


<header>

    <nav class="navbar navbar-toggleable-md navbar-inverse navbar-fixed-top bg-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <span class="fa fa-user"></span> Tipo Persona
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @*<li class="active"><a href="Inicio.html"><span class="fa fa-home"></span> Inicio<span class="sr-only">(current)</span>
            </a>
        </li>*@

                    <li><a asp-controller="Home" asp-action="Index"><span class="fa fa-home"></span>Inicio</a></li>



                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Tipo Persona
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Tipo_Persona" asp-action="Create">Agregar</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a asp-controller="Tipo_Persona" asp-action="Edit">Editar</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a asp-controller="Tipo_Persona" asp-action="Delete">Eliminar</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#Asistencia">Asistencia Tecnica</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


</header>


<body class="body_registro">

    <section class="color_label_registro">

        <div class="container">
            <br />
            <br />
            <h3 class="titulos">Editar Tipo Persona</h3>
            <hr>
        </div>

        <div id="wrapper" class="container">

            <form method="post">

                <fieldset>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label" asp-for="TipoId"></label>

                            <select asp-for="TipoId" class="form-control">

                                @foreach (var item in Model.Tipos)
                                {

                                    <option value="@item.IdTipoPersona">@item.Descripción</option>
                                }

                            </select>
                            <span asp-validation-for="TipoId"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label" asp-for="TipoNombre"></label>
                            <input asp-for="TipoNombre" class="form-control" placeholder="Doe" type="text">
                            <span asp-validation-for="TipoNombre"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark btn-lg btn_registrar">Crear <span class="fa fa-save" aria-hidden="true"></span></button>
                </fieldset>
            </form>
        </div>
        @*</div>
            </div>
            </div>*@
    </section>

</body>